@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2A2C35;
    color: #ffff;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Varela Round", sans-serif;
}

.container {
    /* background-color: #FF6759; */
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 500px;
    max-width: 80%;
}

.container h1{
    font-size: 40px;
}

.container h2 {
    font-size: 22px;
}

.logo_home {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* object-fit: cover; */
    border: 3px solid #2A2C35;
}

.link {
    display: flex;
    align-items: center;
    padding: 5px 20px;
    border-radius: 15px;
    border: 3px solid #ff6759;
    margin: 5px 25px;
    color: #ffff;
    text-decoration: none;
    background-color: #2A2C35;
}

.link img {
    width: 30px;
}
a.link:hover{
    background-color: #ff6759;
    color: #2A2C35;
}

.link p {
    font-size: 17px;
    margin-left: 140px;
}

.subtitle {
    margin-bottom: 5px;
    font-size: 20px;
}

.subphone {
    margin-bottom: 20px;
    font-size: 18px;
}