@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: rgba(233, 233, 233, 0.87);
  }
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 230px;
    background-color: #2A2C35;;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: flex;
    color: white;
    padding: 7px;
    text-decoration: none;
    font-size: 13px;
    text-align: end;
    justify-content: flex-end;
    /* margin-right: 20px; */
  }
   
  .sidebar a.active {
    background-color: #FF6759;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    /* background-color: #FF6759; */
    border-bottom: 3px solid #FF6759;
    /* border-right: 20px solid #FF6759; */
    color: white;
  }
  
  div.content {
    margin-left: 230px;
    padding: 1px 16px;
    /* height: 1000px; */
  }

  div.information {
    display: flex;
    flex-direction: row;
  }

  div.content1 {
    margin-right: 150px;
    margin-left: 100px;
  }

  div.email{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    cursor: copy;
  }

  div.skype{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
  }

  div.info_content {
    display: flex;
    flex-direction: row;
  }

  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
    .logo_ditr {
      display: none;
    }
  }
  @media screen and (max-height: 500px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
    .logo_ditr {
      display: none;
    }
  }

  
  @media screen and (max-width: 840px) {
    div.skype {display: none;}
    div.email {display: none;}
    div.name_mail {display: none;}
    div.name_skp {display: none;}
  }
  
  /* @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  } */

  .main_table{
    justify-content: center;
    width: 60%;
    background-color: rgb(196, 196, 196);
  }

  .main_table td{
    text-align: justify;
  }

  .main_table th{
    text-align: start;
  }