@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  /* width: 100%; */
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

body{
   background-color: #f3f5f9;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 15px;
}
.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  width: 260px;
  /* height: 100%; */
  background: #2A2C35;
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar h2{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li{
  padding: 10px;
  border-bottom: 1px solid #fff;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar ul li a{
  color: #fff;
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  border-left: 4px solid #FF6759;
}
    
.wrapper .sidebar ul li:hover a{
  color: #fff;
}
 
/* .wrapper .sidebar .social_media{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
} */

/* .wrapper .sidebar .social_media a{
  display: block;
  width: 40px;
  background: #2A2C35;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
} */

.wrapper .main_content{
  width: 100%;
  margin-left: 260px;
}

.wrapper .main_content .header{
  padding: 20px;
  background: #fff;
  color: #2A2C35;
  border-bottom: 1px solid #e0e4e8;
  font-size: 26px;
}

.wrapper .main_content .info{
  margin: 20px;
  color: #2A2C35;
  line-height: 25px;
}

.wrapper .main_content .info div{
  margin-bottom: 20px;
}

@media (max-height: 500px){
  .social_media{
    display: none !important;
  }
}

.img_logo{
    width: 250px;
    margin-bottom: 15px;
}

.sidebar {
    height: 100%;
}

.info_content {
    display: flex;
    padding: 10px;

}

.content1 {
    margin-right: 150px;
    margin-left: 100px;
}

p {
    text-indent: 25px;
    padding: 10px;
    font-weight: 600;
}

#name_content {
    display: flex;
    margin-left: 120px;
    margin-bottom: -20px;
    font-size: 20px;
    margin-top: 30px;
}

#name_content h4 {
    border-bottom: 3px solid #FF6759;
}
